﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- <link href="~/css/core.css.gz" rel="stylesheet" type="text/css"> -->
    <link href="~/css/styles.css.gz" rel="stylesheet" type="text/css">

    <title>@ViewData["Title"] - CoreUIProMVCNetcore</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    <p style="display: none;">@ViewData["error"]</p>
    <p style="display: none;">@ViewData["trace"]</p>
    
    <div id="app"></div>

    @RenderBody()
    @RenderSection("Scripts", required: false)

    <script type="text/javascript" src="~/js/polyfill.bundle.js.gz"></script>
    <script type="text/javascript" src="~/js/runtime.bundle.js.gz"></script>
    <script type="text/javascript" src="~/js/core.bundle.js.gz"></script>
    <script defer type="text/javascript" src="~/js/vendor.bundle.js.gz"></script>
    <!-- <script defer type="text/javascript" src="/js/heavy.bundle.js.gz"></script> -->

</body>
</html>
