<template>
    <div :class="fieldContainerClass">
        <b-container class="d-flex justify-content-between pt-3 pb-3 border-bottom" @click="onExpandIconClick">
            <span>{{title}}</span>
            <div>
                <i :class="filterIconClass" />
                <i :class="toggleIconClass" />
            </div>
        </b-container>
        <b-collapse :visible="isSelectedField" :id="`collapse-container-${keyword}`">
            <b-container class="pt-3 pb-3 border-bottom">
                <slot></slot>
            </b-container>
            <b-container class="d-flex justify-content-between pt-3 pb-3 border-bottom">
                <b-btn size="sm"
                    variant="outline-danger"
                    @click="removeField">
                    Remove field
                </b-btn>
                <b-btn size="sm"
                    variant="outline-default"
                    @click="clearFilter">
                    Clear filter
                </b-btn>
            </b-container>
        </b-collapse>
    </div>
</template>
<script>
import { areEqualShallow } from 'utils/validationHelpers'
export default {
    props: [
        'isSelectedField',
        'title',
        'keyword',
        'value',
        'initialValue'
    ],
    computed: {
        fieldContainerClass() {
            return this.isSelectedField ? 'field-container expanded-field-container' : 'field-container'
        },
        toggleIconClass() {
            return this.isSelectedField ? 'fal fa-chevron-up' : 'fal fa-chevron-down'
        },
        filterIconClass() {

            return (!areEqualShallow(this.value, this.initialValue)) ?
                'fa fa-filter mr-1' :
                'fa fa-circle-thin invisible'
        }
    },
    methods: {
        onExpandIconClick() {
            this.$emit('toggle')
        },
        removeField() {
            this.$emit('remove')
        },
        clearFilter() {
            this.$emit('clearFilter')
        }
    }
}
</script>