<template>
    <b-form-checkbox-group :stacked="stacked" v-model="internalValue" :options="options" />
</template>
<script>
export default {
    props: [ 'value', 'options', 'stacked' ],
    computed: {
        internalValue: {
            get() {
                return this.value || this.value === 0
                    ? Array.isArray(this.value) ? this.value : [this.value]
                    : []
            },
            set(value) {
                this.$emit('input', value)
            }
        }
    }
}
</script>