<template>
    <div>
        <b-radio-group :stacked="stacked" v-model="selected" :options="options" />
        <b-input-group v-show="showCustomValue" prepend="Last" append="days" class="mt-1">
            <input autocomplete="off" list="autocompleteOff" class="form-control" type="number" v-model.number="customValue" />
        </b-input-group>
    </div>
</template>
<script>
import { get } from 'lodash'
export default {
    props: {
        value: {
            type: Object,
            default: {
                selected: null,
                custom: null
            }
        },
        stacked: Boolean
    },
    data() {
        return {
            options: [
                { text: 'Any time', value: null },
                { text: 'Past 3 days', value: 3 },
                { text: 'Past week', value: 7 },
                { text: 'Past 30 days', value: 30 },
                { text: 'Custom', value: 'custom' }
            ]
        }
    },
    computed: {
        selected: {
            get() {
                return get(this.value, 'selected') 
            },
            set(newValue) {
                if (newValue !== 'custom') {
                    this.$emit('input', {
                        selected: newValue,
                        custom: null
                    })
                } else {
                    this.$emit('input', {
                        ...this.value,
                        selected: newValue
                    })
                }
            }
        },
        customValue: {
            get() {
                return get(this.value, 'custom')
            },
            set(newValue) {
                this.$emit('input', {
                    ...this.value,
                    custom: newValue
                })
            }
        },
        showCustomValue() {
            return  get(this.value, 'selected') === 'custom'
        }
    }
}
</script>
</script>