<template>
    <v-date-picker
        mode='range'
        :formats="dateFormats"
        v-model='value'>
        <b-input autocomplete="off" list="autocompleteOff" class=""
          autocomplete="off"
          slot-scope='props'
          :value='props.inputValue'
          @change.native='props.updateValue($event.target.value)' />
      </v-date-picker>
</template>
<script>
import moment from 'moment'
import { setupCalendar, DatePicker } from 'v-calendar';
import 'v-calendar/lib/v-calendar.min.css';

import queryItemMixin from './mixin'

export default {
    mixins: [ queryItemMixin ],
    components: {
        'v-date-picker': DatePicker
    },
    props: {
        parse: {
            type: Function,
            default: function(value) {
                const arr = value.split('-')
                if (arr.length === 2) {
                    const startMoment = moment(arr[0], 'DD/MM/YYYY')
                    const endMoment = moment(arr[1], 'DD/MM/YYYY')
                    if (startMoment.isValid() && endMoment.isValid()) {
                        return {
                            start: startMoment.toDate(),
                            end: endMoment.toDate()
                        }
                    }
                }
                return {
                    start: new Date(),
                    end: new Date()
                }
            }
        },
        format: {
            type: Function,
            default: function(value = {}) {
                const { start, end } = value
                const startMoment = moment(start)
                const endMoment = moment(end)
                if (startMoment.isValid() && endMoment.isValid()) {
                    return startMoment.format('DD/MM/YYYY') + '-' + endMoment.format('DD/MM/YYYY')
                }
                return ''
            }
        }
    },
    data() {
        return {
            value: {
                start: new Date(),
                end: new Date()
            },
            dateFormats: {
                title: 'DD/MM/YYYY',
                input: ['DD/MM/YYYY'],
                data: ['DD/MM/YYYY']
            }
        }
    },
    beforeMount() {
        setupCalendar({})
    }
}
</script>