<template>
    <b-row>
        <b-col>
            <b-form-group label="From">
                 <input autocomplete="off" list="autocompleteOff" class="form-control" type="number" v-model.number="start" />
            </b-form-group>
        </b-col>
        <b-col>
            <b-form-group label="To">
                 <input autocomplete="off" list="autocompleteOff" class="form-control" type="number" v-model.number="end" />
            </b-form-group>
        </b-col>
    </b-row>
</template>
<script>
import { get } from 'lodash'
export default {
    props: {
        value: {
            type: Object,
            default: function() {
                return { start: null, end: null }
            }
        }
    },
    computed: {
        start: {
            get() {
                return get(this.value, 'start')
            },
            set(newValue) {
                this.$emit('input', {
                    ...this.value,
                    start: newValue
                })
            }
        },
        end: {
            get() {
                return get(this.value, 'end')
            },
            set(newValue) {
                this.$emit('input', {
                    ...this.value,
                    end: newValue
                })
            }
        }
    }
}
</script>