<template>
    <vue-multiselect
        :multiple="true"
        v-model="internalValue"
        :label="multiselectLabel"
        :track-by="multiselectTrackBy"
        :options="options"
        selectLabel=""
        deselectLabel=""
        label="value"
        track-by="key"
        :loading="isLoading"
        @search-change="asyncFind">
    </vue-multiselect>
</template>
<script>
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
    components: {
        'vue-multiselect': Multiselect
    },
    props: {
        multiselectLabel: {
            type: String,
            default: ''
        },
        multiselectTrackBy: {
            type: String,
            default: ''
        },
        options: {
            type: Array,
            default: function() { return [] }
        },
        value: {
            type: Array,
            default: function() { return [] }
        },
        asyncSearch: {
            type: Boolean,
            default: false
        },
        isAsyncSearchLoading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        internalValue: {
            get() {
                return this.value || this.value === 0
                    ? Array.isArray(this.value) ? this.value : [this.value]
                    : []
            },
            set(value) {
                this.$emit('input', value)
            }
        },
        isLoading() {
            if (this.asyncSearch) {
                return this.isAsyncSearchLoading
            }
            return false
        }
    },
    methods: {
        asyncFind(query) {
            if (this.asyncSearch) {
                this.$emit('search-change', query)
            }
        }
    }
}
</script>