<template>
    <div class="slider-range-container">
        <vue-slider v-model="value" :min="min" :max="max"/>
    </div>
</template>
<script>
import VueSlider from 'vue-slider-component';
import queryItemMixin from './mixin'

export default {
    mixins: [ queryItemMixin ],
    props: {
        'min': Number,
        'max': Number,
        parse: {
            type: Function,
            default: function(value) {
                const arr = value.split('-');
                if (arr.length === 2) {
                    const numArr = arr.map(item => Number.parseInt(item))
                    if (!numArr.some(number => Number.isNaN(number))) {
                        return numArr
                    }
                }
                return [ 0, 0 ]
            }
        },
        format: {
            type: Function,
            default: function(value) {
                return value.join('-')
            }
        }
    },
    components: {
        VueSlider
    }
}
</script>
<style>
.slider-range-container {
    padding-top: 2rem;
}
</style>