<template>
    <b-form-group :label="label">
        <b-input autocomplete="off" list="autocompleteOff" v-model="value" />
    </b-form-group>
</template>
<script>
import queryItemMixin from './mixin'

export default {
    mixins: [ queryItemMixin ]
}
</script>

