<template>
  <div>
      <template v-if="isAddressSuggestionShown">
            <FormGroup class="d-none" label="Select address record" v-if="addressSuggestionArr && addressSuggestionArr.length > 0">
                <v-client-table :data="addressSuggestionArr" :columns="addressColumns"
                    :options="addressOptions"
                    uniqueKey="addressId"
                    @row-click="onAddressSuggestionClick">
                </v-client-table>
            </FormGroup>
            <p class="text-danger" v-else>
                No address record found.
            </p>
        </template>
  </div>  
</template>
<script>

import axios from 'axios'
import FormGroup from 'containers/form/FormGroup';

export default {
    components: {
        FormGroup,
    },
  props: {
    postalCode: {
      type: String,
      default: function(){ 
          return "";
        }
    }
  },
  data() {
        return {
            isPostalCodeSearching: false,
            addressSuggestionArr: [],
            isAddressSuggestionShown: false,
            addressColumns: [
                'buildingName', 'streetName', 'unit', 'floor', 'addressType'
            ],
            addressOptions: {
                sortIcon: { base: 'mt-1 fa', up: 'fa-sort-asc', down: 'fa-sort-desc', is: 'fa-sort' },
                headings: {
                    'buildingName': 'Building Name',
                    'streetName': 'Street Name',
                    'addressType': 'Address Type'
                }
            },
        }
    },
  computed: {

  },
  methods: {
      onPostalEnterKeyUp() {
        console.log(this.postalCode);
        
        if(!this.postalCode)
            return;

        this.isPostalCodeSearching = true;
        this.$emit('isPostalCodeSearching', this.isPostalCodeSearching);
        axios.get(`/Address/GetAddressSuggestionsByPostalCode?postalCode=${this.postalCode}`)
            .then(response => {
                console.log(response);
                this.addressSuggestionArr = response.data;

                if(this.addressSuggestionArr.length > 0) {
                    this.$emit('onAddressSuggestionClick', this.addressSuggestionArr[0]);

                    this.isAddressSuggestionShown = false;
                }
            })
            .catch(error => {
                console.log(error)
                this.$emit('onAddressSuggestionClick', {});
            })
            .finally(() => {
                this.isPostalCodeSearching = false;
                this.isAddressSuggestionShown = true;
                this.$emit('isPostalCodeSearching', this.isPostalCodeSearching);
            })
    },
    onAddressSuggestionClick({ row }) {
        this.$emit('onAddressSuggestionClick', row);

        this.isAddressSuggestionShown = false;
    },
  },
  watch: {
    postalCode: function(newValue, value) {
        this.onPostalEnterKeyUp();
    }
},
  created() {
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>

</style>
