<template>
    <section @keyup="onKeyUp" v-if="!isView">
        <b-row>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Postal Code" description="Type number and press enter to search">

                    <div class="icon-load-form">
                        <b-input autocomplete="off" list="autocompleteOff" type="text" v-model.number="value.postalCode" :maxlength="6" @keyup.native.enter="onPostalEnterKeyUp" />
                        <i v-if="isPostalCodeSearching" class="fa fa-spinner fa-spin icon-load-form__icon" style="margin-left: -20px;"></i>
                    </div>
                    
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Building Name">
                    <b-input autocomplete="off" list="autocompleteOff" v-model.trim="value.buildingName" :maxlength="66"/>
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Street Name">
                    <b-input autocomplete="off" list="autocompleteOff" v-model.trim="value.streetName" :maxlength="32"/>
                </FormGroup>
            </div>
        </b-row>

        <AddressSuggestion :postalCode="postalCodeStr" @onAddressSuggestionClick="onAddressSuggestionClick" @isPostalCodeSearching="isPostalCodeSearching = $event"></AddressSuggestion>

        <b-row>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Block Number">
                    <b-input autocomplete="off" list="autocompleteOff" type="text" v-model.trim="value.block" :maxlength="10" />
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Floor Number" description="">
                    <b-input autocomplete="off" list="autocompleteOff" type="text" v-model.trim="value.floorNumber" placeholder="" :maxlength="3"
                        />
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Unit Number" description="">
                    <b-input autocomplete="off" list="autocompleteOff" type="text" v-model.trim="value.unitNumber" placeholder="" :maxlength="5"/>
                </FormGroup>
            </div>        
        </b-row>

        <b-row>
            <!-- <div class="col-sm-12 col-md-6">
                <FormGroup label="Address Type">
                    <select class="form-control" v-model="value.addressType">
                        <option :value="c.value" v-for="c in AddressTypes" :key="c.value" index="value">{{c.text}}</option>
                    </select>
                    <v-select :style="{'padding': '0'}" :options="addressTypeList" v-model.trim="value.addressType" placeholder="" index="value"></v-select>
                </FormGroup>
            </div> -->
            <div class="col-sm-12 col-md-6">
                <FormGroup label="Country">
                    <v-select :style="{'padding': '0'}" :options="countriesList" v-model.trim="value.country" placeholder="" index="value"></v-select>
                </FormGroup>
            </div>
        </b-row>
    </section>
    <section v-else>
        <b-row>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Postal Code">
                   <p class="mb-0">{{value.postalCode}}</p>
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Building Name">
                    <p class="mb-0">{{value.buildingName}}</p>
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Street Name">
                    <p class="mb-0">{{value.streetName}}</p>
                </FormGroup>
            </div>
        </b-row>

        <b-row>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Block Number">
                    <p class="mb-0">{{value.block}}</p>
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Floor Number" description="">
                    <p class="mb-0">{{value.floorNumber}}</p>
                </FormGroup>
            </div>
            <div class="col-sm-12 col-md-4">
                <FormGroup label="Unit Number" description="">
                    <p class="mb-0">{{value.unitNumber}}</p>
                </FormGroup>
            </div>        
        </b-row>

        <b-row>
            <!-- <div class="col-sm-12 col-md-6">
                <FormGroup label="Address Type">
                    <p class="mb-0">{{value.addressType}}</p>
                </FormGroup>
            </div> -->
            <div class="col-sm-12 col-md-6">
                <FormGroup label="Country">
                    <p class="mb-0">{{value.country}}</p>
                </FormGroup>
            </div>
        </b-row>
    </section>
</template>
<script>

import FormGroup from 'containers/form/FormGroup'
import axios from 'axios';
import AddressSuggestion from 'components/AddressSuggestion'
import { VueSelect } from 'vue-select';

export default {
components: {
    FormGroup,
    AddressSuggestion,
    'v-select': VueSelect
  },
  props: ["value", "isView"], //["postalCode", "buildingName", "streetName", "block", "floorNumber", "unitNumber", "addressType", "country"],
  data() {
    return {
        isSearching: false,
        isPostalCodeSearching: false,
        postalCodeStr: "",

        countriesList: [],
        addressTypeList: [],
    }
  },
  computed: {

  },
  methods: {
    onPostalEnterKeyUp() {
        this.postalCodeStr = this.value.postalCode.toString();
    },
    onAddressSuggestionClick(row) {
        console.log(row);

        this.value.buildingName = row.buildingName;
        this.value.streetName = row.streetName;
        this.value.block = row.buildingNumber;
        this.value.country = "SG";
        this.value.addressType = row.addressType;
    },
    onKeyUp() {
        this.$emit("input", this.value);
        // this.$emit("postalCode", this.postalCode);
        // this.$emit("buildingName", this.buildingName);
        // this.$emit("streetName", this.streetName);
        // this.$emit("block", this.block);
        // this.$emit("floorNumber", this.floorNumber);
        // this.$emit("unitNumber", this.unitNumber);
        // this.$emit("addressType", this.addressType);
        // this.$emit("country", this.country);
    }
  },
  created() {
  },
  mounted() {
        axios.get('/Interface/CountriesList')
            .then(resp => {
                const list = [];
                for(let key in resp.data) {
                    list.push({
                        value: key,
                        label: resp.data[key]
                    });
                }
                this.countriesList = list;

                if(this.value.country && this.value.country.length > 3) {
                    this.value.country = this.countriesList.find(x => x.label == this.value.country).value;
                }
            })

      axios.get('/Interface/AddressTypeList')
            .then(resp => {
                const list = [];
                for(let key in resp.data) {
                    list.push({
                        value: key,
                        label: resp.data[key]
                    });
                }
                this.addressTypeList = list;
                if(this.value.addressType && this.value.addressType.length > 3) {
                    this.value.addressType = this.addressTypeList.find(x => x.label == this.value.addressType).value;
                }
            })
            .catch(err => {})
            .finally(() => {
            })
  }
};
</script>

<style lang="scss" scoped>

</style>
