<template>
<div class="card filter flat-card" :class="{ 'minimized': isMinimized }">
    <div class="card-header d-flex justify-content-between align-items-center" @click="toggleMinimication">
        <i class="fa fa-chevron-down minimized__icon text-muted"></i>
        <div class="d-flex justify-content-between align-items-center" style="flex: 1;">
            <slot name="header">
                <span>{{title}}</span>
            </slot>
        </div>

    </div>
    <div class="card-body" ref="cardBody">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: ""
        },
        defaultMinimized: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            isMinimized: true
        }
    },
    computed: {

    },
    methods: {
        toggleMinimication(e) {
            // this.$refs.cardBody.classList.toggle("minimized");
            this.isMinimized = !this.isMinimized;
        }
    },
    beforeMount() {
        this.isMinimized = this.defaultMinimized
    }
};
</script>

<style lang="scss" scoped>
.minimized__icon {
    transition: all .2s;
    transform: rotate(0);
}

.card-header {
    cursor: pointer;
}

.card.minimized {
    .card-body {
        height: 0;
        padding: 0;
        overflow: hidden;
    }

    .minimized__icon {
        transform: rotate(-180deg);
    }
}
</style>
