<template>
<b-input-group>
    <b-input-group-prepend>
        <b-input-group-text>
            <DatePicker :popover="{ placement: 'bottom', visibility: 'click' }"
                v-model="model" :formats="datePickerFormat">
                <i class="fa fa-calendar"></i>
                <!-- <b-input type="hidden" autocomplete="off" list="autocompleteOff" slot-scope='props'
                    :value='props.inputValue'
                    @change.native='props.updateValue($event.target.value)'>
                </b-input> -->
            </DatePicker>
            
        </b-input-group-text>
    </b-input-group-prepend>
    <masked-input autocomplete="off" list="autocompleteOff" :keepCharPositions="true"
        type="text" @blur="onBlur"
        v-model="modelStr"
        :class="['form-control']"
        :mask="dateMask"
        :pipe="autoCorrectedDatePipe" placeholder="dd/mm/yyyy" />
</b-input-group>

</template>
<script>
import { DatePicker } from "v-calendar";
import "v-calendar/lib/v-calendar.min.css";
import MaskedInput from 'vue-text-mask'
import { dateMask } from 'utils/text-mask/masks'
import createAutoCorrectedDatePipe from 'text-mask-addons/dist/createAutoCorrectedDatePipe'
import moment from 'moment'

export default {
  components: {
    DatePicker,
    MaskedInput
  },
  props: {
      value: {
            type: Date,
            default: function() {
                return null
            }
        },
  },
  computed: {
    datePickerFormat() {
        return {
            input: ['DD/MM/YYYY' ]
        }
    },
  },
    data() {
    return {
        model: null,
        modelStr: '',

        dateFormats: {
            title: 'DD/MM/YYYY',
            input: ['DD/MM/YYYY'],
            data: ['DD/MM/YYYY']
        },
        dateMask: dateMask,
        autoCorrectedDatePipe: createAutoCorrectedDatePipe('dd/mm/yyyy'),
    }
},
  methods: {
      onBlur() {
          let m = moment(this.modelStr, 'DD/MM/YYYY')
          if(m.isValid()) {
              this.model = m.toDate();
          } else {
              this.model = null;
          }
      }
  },
  watch: {
      model(newVal, oldVal) {
          //console.log(newVal, oldVal);
          let m = moment(newVal);
          if(m.isValid()) {
              this.modelStr = m.format('DD/MM/YYYY')
              this.$emit('input', newVal);
          } else {
              this.$emit('input', null);
          }
      },
      value(newVal, oldVal) {
          if(this.value) {
            this.model = this.value;
        }
      }
  },
  mounted() {
      if(this.value) {
          this.model = this.value;
      }
  }
};
</script>

<style lang="scss">
    .input-group.is-invalid {
        .input-group-text, .form-control {
            border-color: #a94340;
        }
    }
</style>
