<template>
    <div style="display: inline-block;">
        <button class="btn btn-sm btn-outline-danger" @click="onDeleteClicked">Delete</button>

        <b-modal ref="deleteOrganizationModal"
            modal-class="modal-danger delete-modal"
            :title="'Are you sure you want to delete \'' + (itemTitle ? itemTitle : 'this') + '\'?'"
            ok-title="Delete"
            cancel-variant="outline-secondary"
            ok-variant="danger"
            @ok="onDeleteConfirmed">
            
            <FormGroup label="Remarks" :required="remarkRequired" error="This field is required">
                <input autocomplete="off" list="autocompleteOff"
                  type="text"
                  :class="['form-control', remarkValidationClass]"
                  v-model="remarks">
            </FormGroup>
            
        </b-modal>
    </div>
</template>
<script>

import axios from 'axios'
import FormGroup from 'containers/form/FormGroup';
import { beautify } from "utils/formDisplay";

export default {
  components: {
      FormGroup,
  },
  props: {
    link: {
      type: String,
      default: ""
    },
    itemId: {
      type: String,
      default: ""
    },
    itemTitle: {
      type: String,
      default: ""
    },
    successTitle: {
      type: String,
      default: ""
    },
    remarkRequired: {
      type: Boolean,
      default: true
    },
    deletedSlug: {
      type: String,
      default: ""
    },
  },
  data() {
    return {
      remarks: '',
      isTouched: false
    };
  },
  computed: {
    remarkValidationClass() {
      if (!!this.remarkRequired && this.isTouched && !this.remarks) {
        return 'is-invalid';
      }
      return null;
    }
  },
  methods: {
    onDeleteClicked(item) {
        if(this.link && this.itemId) {
            this.isTouched = false;
            this.remarks = '';
            this.$refs.deleteOrganizationModal.show();
        }
    },
    onDeleteConfirmed(e) {
      this.isTouched = true;
      e.preventDefault();
      if (!this.remarks && this.remarkRequired) {
          this.showStandardNotification({
              type: 'warn',
              title: 'Incomplete form',
              text: 'Please complete required fields'
          })
          return false;
      }
      
      axios.delete(`${this.link}?id=${this.itemId}&remarks=${this.remarks}`)
          .then(resp => {
              console.log(resp);
              let matches = this.link.match(/\/(\w+)\/Delete/);
              let object = "";
              if(matches && matches.length == 2) {
                object = matches[1];
              }
              if(this.deletedSlug) {
                object = this.deletedSlug;
              }
              if(this.successTitle) {
                this.showSuccessMessage(resp, (object ? beautify(object) + ' ' : "") + `Successfully Deleted`, this.successTitle)
              } else {
                this.showSuccessMessage(resp, (object ? beautify(object) + ' ' : "") + `Successfully Deleted`)
              }

              setTimeout(() => {
                  location.reload();
              }, 1000);
          })
          .catch(error => {
              console.log(error);
              this.showErrorMessage(error);
          
          }) 
          .finally(() => {
              this.required = false;
          });
    }
  },
  created() {
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>

</style>
