<template>
<div class="table-responsive">
    <table class="table table-bordered" id="disease-test-filter">
        <thead>
            <tr>
                <th v-for="disease in sortedDiseases"
                    :key="disease.id"
                    :colspan="noOfTests(disease.id)"
                    :class="diseaseClass(disease.id)"
                    @click="onDiseaseClick(disease.id)">
                    {{disease.abbreviation}}
                </th>
            </tr>
            <tr>
                <th v-for="test in sortedTests"
                    :key="test.id"
                    :class="testClass(test.id)"
                    @click="onTestClick(test.id)">
                    {{testTargetAndMethod(test)}}
                </th>
            </tr>
        </thead>
        <tbody>
            <slot></slot>
        </tbody>
    </table>
</div>
</template>
<script>
import { uniqBy, get } from 'lodash'
export default {
    props: {
        tests: {
            type: Array,
            default: function() { return [] }
        },
        removedTestIds: {
            type: Array,
            default: function() { return [] }
        }
    },
    computed: {
        allDiseases() {
            const testDiseases = this.tests.map(t => t.disease)
            return uniqBy(testDiseases, 'id')
        },
        sortedDiseases() {
            return this.allDiseases.sort((a, b) => {
                var nameA = a.name.toUpperCase();
                var nameB = b.name.toUpperCase();
                if (nameA < nameB) {
                    return -1;
                } else if (nameA > nameB) {
                    return 1;
                }
                return 0;
            })
        },
        sortedTests() {
            return this.tests.sort((a, b) => {
                var diseaseA = a.disease.name.toUpperCase();
                var diseaseB = b.disease.name.toUpperCase();
                if (diseaseA < diseaseB) {
                    return -1;
                } else if (diseaseA > diseaseB) {
                    return 1;
                } else {
                    var nameA = a.name.toUpperCase()
                    var nameB = b.name.toUpperCase()
                    if (nameA < nameB) {
                        return -1;
                    } else if (nameA > nameB) {
                        return 1;
                    }
                }
                return 0;
            })
        }
    },
    methods: {
        noOfTests(diseaseId) {
            return this.tests.filter(t => t.disease.id === diseaseId).length
        },
        testTargetAndMethod(test) {
            const testTargetName = get(test, 'testGroupTestTarget.testTarget.name', '')
            const testMethodName = get(test, 'testMethod.name', '')
            return [ testTargetName, testMethodName ].join(' ')
        },
        testClass(testId) {
            return this.removedTestIds.includes(testId) ? 'cell-not-filtered' : 'cell-filtered'
        },
        diseaseClass(diseaseId) {
            const containsUnremovedTests = this.tests.some(test => {
                return test.disease.id === diseaseId &&
                    !this.removedTestIds.includes(test.id)
            })
            return containsUnremovedTests ? 'cell-filtered': 'cell-not-filtered';
            // return containsUnremovedTests ? 'bg-secondary text-light' : 'bg-white'
        },
        onTestClick(testId) {
            const index = this.removedTestIds.indexOf(testId)
            if (index > -1) {
                this.removedTestIds.splice(index, 1)
            } else {
                this.removedTestIds.push(testId)
            }
        },
        removeTest(testId) {
            const isRemoved = this.removedTestIds.includes(testId)
            if (!isRemoved) {
                this.removedTestIds.push(testId)
            }
        },
        addTest(testId) {
            const index = this.removedTestIds.indexOf(testId)
            if (index > -1) {
                this.removedTestIds.splice(index, 1)
            }
        },
        onDiseaseClick(diseaseId) {            
            const containsUnremovedTests = this.tests.some(test => {
                return test.disease.id === diseaseId &&
                    !this.removedTestIds.includes(test.id)
            })
            containsUnremovedTests ? this.removeDisease(diseaseId) : this.addDisease(diseaseId)
     
            
        },
        addDisease(diseaseId) {
            const { addTest } = this
            const diseaseTests = this.tests.filter(test => test.disease.id === diseaseId)
            diseaseTests.forEach(test => addTest(test.id))
        },
        removeDisease(diseaseId) {
            const { removeTest } = this
            const diseaseTests = this.tests.filter(test => test.disease.id === diseaseId)
            diseaseTests.forEach(test => removeTest(test.id))
        },
    }
}
</script>
<style lang="scss" scoped>

</style>