<template>
    <span class="badge badge-success" v-if="[2,4].includes(status)">{{beautify(EdasRequestTestStatuses[status])}}</span>
    <span class="badge badge-dangger" v-else-if="[3,5].includes(status)">{{beautify(EdasRequestTestStatuses[status])}}</span>
    <span class="badge badge-info" v-else>{{beautify(EdasRequestTestStatuses[status])}}</span>
</template>

<script>
import { beautify, EdasRequestTestStatuses } from "utils/formDisplay";

export default {
  props: {
    status: {
      type: Number,
      default: null
    },
  },
  data() {
    return {
        EdasRequestTestStatuses
    }
},
  computed: {

  },
  methods: {
      beautify
  },
  created() {
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>

</style>
