<template>
<div class="email-composer" :class="{'is-view': isView}">
    <div class="email-composing-wrapper form-control">
        <div class="existing-email" v-if="customEmails && customEmails.length > 0">
            <span v-for="(item, index) in customEmails" :key="item.value + index"
                            class="badge email-holder" :class="{ 'badge-light': isEmail(item.value), 'badge-danger': !isEmail(item.value) }">
                <span class="text">{{item.value}}</span>
                <span class="remove" @click="removeEmail(customEmails, index)">
                    <i class="fal fa-remove"></i>
                </span>
            </span>
        </div>
        <div class="composing-email">
            <div class="animated" :class="{'is-invalid': isInvalid, 'shake': isInvalid}" @blur="onContentBlur('composingEmail1')" :contenteditable="isView ? false : true"
                ref="composingEmail1" @keydown="$event.keyCode === 13 ? $event.preventDefault() : false" @keyup.enter.stop.prevent="onEnterKeyUp(customEmails, 'composingEmail1')">
            </div>
            <span v-if="isPlaceholderView" class="composing-email--placeholder">Enter a valid email and press enter</span>
        </div>

        <!-- <i class="fa fa-chevron-down email-category-chooser"
                        :class="{ 'email-category-chooser-active': to.selected }"
                        @click="to.selected = !to.selected"></i>

        <div class="email-category-list">

        </div> -->
        <!-- <div class="ripple-wrapper"></div> -->
    </div>

</div>
<!-- <div v-else>
    {{customEmails.map(x => x.value).join(', ')}}
</div> -->
</template>

<script>
import FormGroup from 'containers/form/FormGroup'
import {
    isEmail
} from "utils/validationHelpers";

export default {
    components: {
        FormGroup
    },
    props: {
        isView: {
            type: Boolean,
            default: false
        },
        emailStr: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            isPlaceholderView: true,
            customEmails: [],
            isInvalid: false,
        }
    },
    computed: {},
    methods: {
        isEmail,
        onEnterKeyUp(list, ele) {

            // let email = this.$refs.composingEmail.innerText;
            // this.to.customEmails.push({value: email, type: 'custom'});
            // this.$refs.composingEmail.innerText = "";
            let email = this.$refs[ele].innerText;

            if(email) {

                if (this.validateEmail(email)) {
                    list.push({
                        value: email,
                        type: 'custom'
                    });
                    this.$refs[ele].innerText = "";
                    this.isInvalid = false;
                } else {
                    this.showStandardNotification({
                        type: 'warn',
                        title: 'Invalid Email',
                        text: ''
                    })
                    this.isInvalid = true;
                    this.$refs[ele].classList.add('shake');
                    setTimeout(() => {
                        this.$refs[ele].classList.remove('shake');
                    }, 500);
                }

            }
        },
        removeEmail(list, index) {
            list.splice(index, 1);
        },
        onContentBlur(ele) {
            let email = this.$refs[ele].innerText;
            if(email) {
                this.isPlaceholderView = false;
            } else {
                this.isPlaceholderView = true;
            }
        }
    },
    watch: {
        customEmails(newVal, oldVal) {
            //console.log(newVal);
            this.$emit('inputStr', newVal.map(x => x.value).join(';'))
        },
        emailStr(newVal, oldVal) {
            //console.log(newVal);
            if(newVal) {
                this.customEmails = newVal.split(';').map(x => ({
                    value: x,
                    type: 'custom'
                }))
            }
        }
        
    },
    created() {},
    mounted() {
        if(this.emailStr) {
            this.customEmails = this.emailStr.split(';').map(x => ({
                value: x,
                type: 'custom'
            }))
        }
    }
};
</script>

<style lang="scss" scoped>
.email-composer {
    position: relative;
}

// .ripple-wrapper {
//     width: 100%;
//     height: 2px;
//     position: absolute;
//     // background-color: var(--primary-500);
//     top: 100%;
//     overflow: hidden;

//     &:after {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background-image: radial-gradient(circle, var(--primary-500) 10%, transparent 10%);
//         opacity: 0;
//         transform: scale(0, 0);
//         transition: transform .3s, opacity .1s;
//     }
// }

// .composing-email:focus ~ .ripple-wrapper:after {
//     opacity: .8;
//     transform: scale(10, 10);
//     // transition: 0;
// }

.email-composer:not(.is-view) {
    .composing-email {
        // &::after {
        //     content: '';
        //     opacity: 0;
        //     transition: all .2s;
        //     width: 1px;
        //     height: 18px;
        //     background-color: rgba(0, 0, 0, 0.5);
        //     display: inline-block;
        // }

        // &:focus .composing-email--placeholder{
        //     visibility: hidden;
        // }

        // &:hover::after {
        //     opacity: 1;
        // }

        // &:focus::after {
        //     opacity: 0;    
        // }
    }
}

.is-view {
    .remove, .composing-email {
        display: none;
    }

    .email-composing-wrapper {
        border: none;
        padding-left: 0;
    }
}

.email-category-list {
    position: absolute;
    width: 102%;
    border: 1px solid #e4e7ea;
    // border-top: none;
    top: 100%;
    display: none;
    background: white;
    padding: 16px;
    z-index: 1;
    border-top-color: var(--primary-500);
    border-top-width: 2px;
}

.email-category-chooser {
    transition: all .2s;
    cursor: pointer;
    transform: rotate(0);
}

.email-category-chooser-active {
    transform: rotate(180deg);
}

.email-category-chooser-active~.email-category-list {
    display: initial;
}

.email-composing-wrapper {
    display: flex;
    align-items: flex-start;
    // border-bottom: 1px solid #e4e7ea;
    // padding-bottom: 5px;
    height: auto;
    min-height: 35px;
    flex-direction: column;

    .composing-email {
        flex: 1;
        padding-left: 5px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 20px;
        align-self: flex-start;


        [contenteditable="true"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 20px;

            &:focus ~ .composing-email--placeholder {
                visibility: hidden;
            }
        }

        &--placeholder {
            position: absolute;
            color: var(--gray-300);
            pointer-events: none;
            top: 0;
            left: 0;
        }
    }

    .existing-email {
        // flex-basis: 50%;

        &>*:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .email-holder {
            padding: 0.3em 0.5em;
            letter-spacing: 1px;
            
            -webkit-animation-name: slide-fade; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: .2s; /* Safari 4.0 - 8.0 */
            animation-name: slide-fade;
            animation-duration: .2s;

            .remove {
                color: var(--red-500);
                font-size: 14px;
                padding-left: 5px;
                margin-left: 5px;
                cursor: pointer;
                border-left: 1px solid var(--gray-200);
            }
        }
    }
}

@-webkit-keyframes slide-fade {
  from {
        transform: translateY(-10px);
        opacity: 0;
  }
  to {
      transform: translateY(0);
        opacity: 1;
  }
}

@keyframes slide-fade {
  from {
        transform: translateY(-10px);
        opacity: 0;
  }
  to {
      transform: translateY(0);
        opacity: 1;
  }
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,50%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    40%,70% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

@keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,50%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    40%,70% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}
</style>
