<template>
<div v-if="isView">
    <FormGroup :label="noLabel ? '' : 'Fax Number'" v-if="!noLabel">
        <p class="mb-0">
            <span v-if="faxCountryCode && faxCountryCode != 0 && !noCountry">+ ({{faxCountryCode}})</span>
            <span v-if="faxAreaCode && faxAreaCode != 0 && !noArea && faxCountryCode != 65">({{faxAreaCode}})</span> 
            <span v-if="faxNumber && faxNumber != 0">{{faxNumber}}</span> 
        </p>
    </FormGroup>

    <p class="mb-0" v-else>
        <span v-if="faxCountryCode && faxCountryCode != 0 && !noCountry">+ ({{faxCountryCode}})</span>
        <span v-if="faxAreaCode && faxAreaCode != 0 && !noArea && faxCountryCode != 65">({{faxAreaCode}})</span> 
        <span v-if="faxNumber && faxNumber != 0">{{faxNumber}}</span> 
    </p>
</div>


<FormGroup label="Fax Number" :required="required" v-else>
    <div class="row">
        <div class="col-4 pr-0" v-if="!noCountry">
            <b-form-select v-if="msieversion()" :disabled="fieldDisabled" v-model="faxCountryCode" :options="countryCodes" text-field="label"></b-form-select>
            <v-select v-else class="country-code-select" :disabled="fieldDisabled" :options="countryCodes" :clearable="false" v-model.trim="faxCountryCode" index="value"></v-select>
            <!-- <b-input autocomplete="off" list="autocompleteOff" v-mask="'###'" :disabled="fieldDisabled" :maxlength="3" type="text" v-model.trim="faxCountryCode" placeholder="Country Code" :class="{'is-invalid': required && checkError && !faxCountryCode}" /> -->
            <!-- <the-mask :disabled="fieldDisabled" class="form-control w-100" v-model="faxCountryCode" 
                placeholder="Country Code" :class="{'is-invalid': required && checkError && !faxCountryCode}" :mask="['##']"/> -->
            <!-- <b-form-invalid-feedback>
                Country Code is invalid.
            </b-form-invalid-feedback> -->
        </div>
        <div class="col-3 pr-0" v-if="!noArea && faxCountryCode != 65">
            <b-input autocomplete="off" list="autocompleteOff" v-mask="'###'" :disabled="fieldDisabled" :maxlength="3" type="text" v-model.trim="faxAreaCode" placeholder="Area Code" />
            <b-form-invalid-feedback>
                Area Code is invalid.
            </b-form-invalid-feedback>
        </div>
        <div class="col">
            <b-input autocomplete="off" list="autocompleteOff" v-mask="'############'" :disabled="fieldDisabled" :maxlength="12" type="text" v-model.trim="faxNumber" placeholder="Fax Number" :class="{'is-invalid': (required && checkError && !faxNumber) || !isSGNumberValid}" />
            <b-form-invalid-feedback>
                Fax Number is invalid.
            </b-form-invalid-feedback>
        </div>
    </div>
</FormGroup>
</template>

<script>
import FormGroup from 'containers/form/FormGroup'
import {mask} from 'vue-the-mask'
import { sgNumber } from "utils/validationHelpers";
import vSelect from 'vue-select'
import countryCode from 'constants/CountryCodes'
import { msieversion } from "utils/formDisplay";

export default {
    components: {
        FormGroup,
        'v-select': vSelect
    },
    directives: {mask},
    props: {
        isView: {
            type: Boolean,
            default: false
        },
        noLabel: {
            type: Boolean,
            default: false
        },
        noCountry: {
            type: Boolean,
            default: false
        },
        noArea: {
            type: Boolean,
            default: false
        },
        country: {
            type: [Number, String],
            default: 65
        },
        area: {
            type: [Number, String],
            default: null
        },
        number: {
            type: [Number, String],
            default: null
        },
        required: {
            type: Boolean,
            default: false
        },
        checkError: {
            type: Boolean,
            default: false
        },
        fieldDisabled: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            faxCountryCode: null,
            faxAreaCode: null,
            faxNumber: null,
        }
    },
    computed: {
        isSGNumberValid() {
            if(!this.faxCountryCode || this.faxCountryCode != 65 || !this.faxNumber) {
                return true;
            }

            return sgNumber(this.faxNumber);
        },
        countryCodes() {
            return countryCode.map(x => ({
                value: parseInt(x.dial_code),
                label: x.code + ' (' + x.dial_code + ')'
            }))
        }
    },
    methods: {
        msieversion
    },
    watch: {
        country: function (newVal, oldVal) {
            this.faxCountryCode = newVal || null;
        },
        area: function (newVal, oldVal) {
            this.faxAreaCode = newVal || null;
        },
        number: function (newVal, oldVal) {
            this.faxNumber = newVal || null;
        },
        faxCountryCode: function (newVal, oldVal) {
            this.$emit("country", newVal);
        },
        faxAreaCode: function (newVal, oldVal) {
            this.$emit("area", newVal);
        },
        faxNumber: function (newVal, oldVal) {
            this.$emit("number", newVal);
        },
    },
    created() {},
    mounted() {
        this.faxCountryCode = this.country || null;
        this.faxAreaCode = this.area || null;
        this.faxNumber = this.number || null;

        //console.log(sgNumber('87806795'), sgNumber('878067951'))
        //console.log(countryCode)
    }
};
</script>

<style lang="scss">
    .country-code-select:not(.open) {
        input[type=search] {
            position: absolute;
        }
    }
</style>
