<template>
    <div role="tablist" v-if="logs && logs.length > 0">
        <b-card no-body class="mb-3 flat-card" v-for="(log, index) in orderBy(logs, ['date'], ['desc'])" :key="'log' + index">
            <b-card-header header-tag="header" class="p-3 d-flex justify-content-between align-items-center" role="tab" @click="toggle('log' + index)">
                <span style="color: var(--blue-600)">{{formatDateTime(log.date)}}</span>
                <span class="">{{log.fields.length}} change(s)</span>
                <span class="">{{log.user}}</span> 
            </b-card-header>
            <b-collapse :id="'log' + index" class="table-responsive">
                <table class="table log-item_fields mb-0 table-hover" v-if="log.fields && log.fields.length > 0">
                    <tr>
                        <th>Field</th>
                        <th>Original Value</th>
                        <th>New Value</th>
                    </tr>
                    <tbody>
                        <template v-for="(field, index) in log.fields">
                            <tr :key="index" v-if="!field.name.endsWith('_t')">
                                <td>{{beautify(field.name.replace('Edas', ''))}}</td>
                                <td v-html="displayJson(field.original)" style="    word-break: break-all;"></td>
                                <td v-html="displayJson(field.new)" style="    word-break: break-all;"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </b-collapse>
        </b-card>
    </div>
    <section class="not-found" v-else></section>
  <!-- <div class="log-list">
      <div class="log-item" v-for="(log, index) in logs" :key="index" style="">
          <p class="log-item_info">
              <span class="" style="color: var(--blue-500)">{{log.user}}</span> <u class="">{{log.acitivty}}</u> 
              at <span class="font-italic">{{formatDateTime(log.date)}}</span>
          </p>
          <table class="table log-item_fields mb-0 table-hover" v-if="log.fields && log.fields.length > 0">
              <tr>
                  <th>Field</th>
                  <th>Original Value</th>
                  <th>New Value</th>
              </tr>
              <tbody>
                <template v-for="(field, index) in log.fields">
                    <tr :key="index" v-if="!field.name.endsWith('_t')">
                        <td>{{field.name}}</td>
                        <td v-html="displayJson(field.original)"></td>
                        <td v-html="displayJson(field.new)">
                            
                        </td>
                    </tr>
                </template>
              </tbody>
          </table>
      </div>
  </div>   -->
</template>
<script>

import {formatDateTime} from 'utils/datetime';
import moment from 'moment'
import {sortBy, orderBy} from 'lodash'

export default {
  props: {
    logs: {
      type: Array,
      default: function(){ 
          return [
                // {
                //     user: "edasanalyst@xyz.com",
                //     acitivty: "changed values",
                //     date: new Date(),
                //     fields: [
                //         {
                //             name: "result",
                //             original: "equivocal",
                //             new: "positive"
                //         }
                //     ]
                // },
                // {
                //     user: "edasanalyst@xyz.com",
                //     acitivty: "add info",
                //     date: new Date(),
                //     fields: [
                //         {
                //             name: "remarks",
                //             original: "",
                //             new: "my remarks"
                //         }
                //     ]
                // }
            ]
        }
    }
  },
  computed: {

  },
  methods: {
    sortBy,
    orderBy,
    formatDateTime: formatDateTime,
    displayJson(json = "") {
        if(!json) {
            return "";
        }

        let html = '';
      
        if(typeof json == 'object') {
            for(let key in json) {
                html += `${key}<br/> ${json[key]} <br/><br/>`;
            }
        } else {
            html = json;
        } 
        // else {
        //     let m = moment(json, 'DD/MM/YYYY mm:HH:SS A')
        //     html = m.isValid() ? m.format('DD/MM/YYYY') : json;
        //     console.log(json, html)
        // }

        return html;
    },
    toggle(id) {
        this.$root.$emit('bv::toggle::collapse', id)
    }
  },
  created() {
  },
  mounted() {
      console.log(this.logs);
  }
};
</script>

<style lang="scss" scoped>
.log-list {
    .log-item {
        background-color: var(--gray-50);
        padding: 10px;
        margin-bottom: 10px;

        .table th, .table td {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }

        tr td:nth-child(1), tr td:nth-child(1) {
            width: 30%;
        } 
        tr td:nth-child(2), tr td:nth-child(2) {
            width: 35%;
        } 
        tr td:nth-child(3), tr td:nth-child(3) {
            width: 35%;
        } 
    }
}
</style>
