<template>
  <multiselect
    v-bind="$props"
    v-model="innerValue"
    :taggable="true"
    @tag="addTag" />
</template>
<script>
import Multiselect from 'vue-multiselect'
import multiselectMixin from 'vue-multiselect/src/multiselectMixin'
import pointerMixin from 'vue-multiselect/src/pointerMixin'
import 'vue-multiselect/dist/vue-multiselect.min.css'

import MaskedInput from 'vue-text-mask'
import { conformToMask } from 'text-mask-core'

export default {
  mixins: [multiselectMixin, pointerMixin],
  data() {
    return {
      innerValue: this.$props.value
    }
  },
  components: {
    'multiselect': Multiselect
  },
  props: {
    ...Multiselect.props,
    mask: MaskedInput.props.mask
  },
  methods: {
    addTag(newTag) {
      let tag = conformToMask(newTag, this.$props.mask, {})
      if (tag.meta && tag.meta.someCharsRejected) {
        // do nothing
      } else {
        if (this.$props.multiple) {
          this.innerValue.push(tag.conformedValue)
        } else {
          this.innerValue = tag.conformedValue
        }
        this.$emit('input', this.innerValue)
      }
    }
  },
 /* watch: {
    value(newValue, oldValue) {
      if (oldValue !== newValue && this.innerValue !== newValue) {
        this.innerValue = newValue
      }
    }
  }*/
}
</script>