<template>
<span @click="onBadgeClicked" :class="badgeClass">
    <span class="badge-number" v-if="count">{{count}}</span>
    <span class="badge-text">{{badgeText}}</span>
</span>
</template>

<script>
export default {
    props: {
        status: {
            type: [String, Number],
            default: ""
        },
        count: {
            type: Number,
            default: 0
        },
        active: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        badgeClass() {
            if (!this.active) {
                return 'badge badge-light border border-dark status-badge'
            }

            if(typeof this.status == 'string') {
                switch (this.status.toLowerCase()) {
                    case 'positive':
                    case '0':
                        return 'badge badge-danger status-badge'
                    case 'negative':
                    case '1':
                        return 'badge badge-success status-badge'
                    case 'equivocal':
                    case '2':
                        return 'badge badge-info status-badge'
                    default:
                        return 'badge badge-secondary status-badge'
                }
            }

            if(typeof this.status == 'number') {
                switch (this.status) {
                    case 0:
                        return 'badge badge-danger status-badge'
                    case 1:
                        return 'badge badge-success status-badge'
                    case 2:
                        return 'badge badge-info status-badge'
                    default:
                        return 'badge badge-secondary status-badge'
                }
            }
        },
        badgeText() {
            // console.log(this.status, typeof this.status);
            if(typeof this.status == 'string') {
                switch (this.status.toLowerCase()) {
                    case 'positive':
                    case '0':
                        return 'Pos'
                    case 'negative':
                    case '1':
                        return 'Neg'
                    case 'equivocal':
                    case '2':
                        return 'Equ'
                    default:
                        return this.status
                }
            }

            if(typeof this.status == 'number') {
                switch (this.status) {
                    case 0:
                        return 'Pos'
                    case 1:
                        return 'Neg'
                    case 2:
                        return 'Equ'
                    default:
                        return this.status
                }
            }
        }
    },
    methods: {
        onBadgeClicked(e) {
            this.$emit("onBadgeClicked", e);
        }
    },
    created() {},
    mounted() {}
};
</script>

<style lang="scss">
.badge {
    position: relative;

    // &.badge-active::after {
    //     content: "\f058";
    //     font: normal normal normal 14px/1 FontAwesome;
    //     font-size: inherit;
    //     text-rendering: auto;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
    //     display: inline-block;
    //     position: absolute;
    //     top: 4px;
    //     right: 0;
    //     font-size: 9px;
    // }

}
</style>
