<template>
<b-button variant="secondary btn-sm"
    class="btn-retrieve-data"
    :class="{'btn-retrieve-data--submitting': isSubmitting, 'btn-retrieve-data--ready' :isReady}"
    :style="{ '--maxWidth': maxWidth + 'px' }"
    @click.stop="onSubmitClick"
    ref="ele">
    <span class="btn-retrieve-data__text" ref="ele_text">Retrieve Data</span>
    <i class="btn-retrieve-data__icon fa fa-spin fa-spinner" ref="ele_icon"></i>
</b-button>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: 'Submit'
        },
        width: {
            type: Number,
            default: 110
        },
        handler: Function,
        showConfirmation: {
            type: Boolean,
            default: false
        },
        confirmTitle: {
            type: String,
            default: 'Are you sure you want to do this?'
        },
        confirmDesc: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            isSubmitting: false,
            textWidth: 74,
            iconWidth: 16,
            maxWidth: 0,
            isReady: false
        }
    },
    computed: {

    },
    methods: {
        onSubmitClick() {
            this.isSubmitting = true;

            setTimeout(() => {
                this.isSubmitting = false;
            }, 3000);
        },
        calculateWidth() {
            if(this.isSubmitting) {
                this.maxWidth = this.$refs.ele_icon.offsetWidth;
            } else {
                this.maxWidth = this.$refs.ele_text.offsetWidth;
            }
        }
        
    },
    created() {},
    watch: {
        isSubmitting(newVal, oldVal) {
            this.calculateWidth();
        }
    },
    mounted() {
        console.log(this.$refs.ele_text.offsetWidth)
        this.calculateWidth();
        this.isReady = true;
    }
};
</script>

<style lang="scss">



.btn-retrieve-data {
    --padding: 30px;
    --maxWidth: 0;

    // width: max-content;
    transition: all .2s;
    position: relative;

    &__text {
        color: yellow;
    }

    &__icon {
        visibility: hidden;
    }

    & > * {
        float: left;
    }

    &--ready {
        width: calc(var(--padding) + var(--maxWidth));  
    }

    &--ready & {
        &__text {
            display: unset;
        }

        &__icon {
            display: none;
        }
    }

    &--submitting & {
        &__text {
            display: none;
        }

        &__icon {
            display: unset;
        }
    }
}

</style>
