<template>
    <header class="d-flex align-items-center justify-content-between section">
        <div class="h3 color-primary-900 section__title mb-0" v-if="autobreadcrumbs && autobreadcrumbs.length > 0 && !forced">
            {{autobreadcrumbs[autobreadcrumbs.length - 1].text}}
        </div>
        <div class="h3 color-primary-900 section__title mb-0" v-else>
            {{title}}
        </div>

        <div>
            <slot></slot>    
        </div>
        
    </header>
</template>
<script>

import nav from '_nav'

export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    forced: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    autobreadcrumbs() {
      const arr = nav.autoBreadCrumb(nav.pathToSearchBreadcrumb());
      //console.log(arr);
      
      return !arr || arr.length == 0 ? null : arr;
    },
  },
  methods: {

  },
  created() {
  },
  mounted() {
  }
};
</script>

<style lang="scss" scoped>
  .section {
    margin-bottom: calc(1rem + 14px);
  }
</style>
