<template>
    <div class="specimen-list w-100" v-if="!isDCResult" @mouseenter="mouseEnter" @mouseleave="mouseLeave" ref="ele">
        <div class="specimen-list__input d-flex justify-content-between align-items-center">
            <span class="specimen-list__input--text" v-if="selectedSpecimens">
                {{selectedSpecimens}}
            </span>
            <span class="specimen-list__input--text text-muted" v-else>
                Select
            </span>
            <span class="specimen-list__input--icon"></span>
        </div>
        <div class="specimen-list__items"
            :class="{'specimen-list__items--position-fixed': isHovering && fixedPos}"
            :style="{ '--top': fixedPosTop + 'px', '--left': fixedPosLeft + 'px', '--width': fixedPosWidth + 'px' }">
            <b-form-checkbox-group stacked class="checkbox-list">
                <label class="specimen-list__item--container w-100" :for="s.specimenType.specimenId" v-for="s in list">
                    <div class="custom-control custom-checkbox">
                        <input autocomplete="off" list="autocompleteOff" type="checkbox" class="custom-control-input" :id="s.specimenType.specimenId + dxTestId" :value="s.specimenType.specimenId" v-model="selected" @change="onCheckboxChanged">
                        <label class="custom-control-label" :for="s.specimenType.specimenId + dxTestId">{{s.specimenType.type}}</label>
                    </div>
                </label>
                <!-- <label class="specimen-list__item--container w-100" for="customChk2">
                    <div class="custom-control custom-checkbox">
                        <input autocomplete="off" list="autocompleteOff" type="checkbox" class="custom-control-input" id="customChk2" value="2" checked>
                        <label class="custom-control-label" for="customChk2">Option 2</label>
                    </div>
                </label>
                <label class="specimen-list__item--container w-100" for="customChk3">
                    <div class="custom-control custom-checkbox">
                        <input autocomplete="off" list="autocompleteOff" type="checkbox" class="custom-control-input" id="customChk3" value="3">
                        <label class="custom-control-label" for="customChk3">Option 3</label>
                    </div>
                </label> -->
            </b-form-checkbox-group>
        </div>
    </div>
    <div class="specimen-list w-100" v-else @mouseenter="mouseEnter" @mouseleave="mouseLeave" ref="ele">
        <div class="specimen-list__input d-flex justify-content-between align-items-center">
            <span class="specimen-list__input--text" v-if="dxSelectedSpecimens">
                {{dxSelectedSpecimens}}
            </span>
            <span class="specimen-list__input--text text-muted" v-else>
                Select
            </span>
            <span class="specimen-list__input--icon text-muted"></span>
        </div>
        <div class="specimen-list__items"
            :class="{'specimen-list__items--position-fixed': isHovering && fixedPos}"
            :style="{ '--top': fixedPosTop + 'px', '--left': fixedPosLeft + 'px', '--width': fixedPosWidth + 'px' }">
            <b-form-checkbox-group class="checkbox-list" stacked style="">
                <div class="specimen-list__item--container w-100" v-for="(s,index) in list">
                    <div class="custom-control custom-checkbox">
                        <input autocomplete="off" list="autocompleteOff" type="checkbox" class="custom-control-input" :id="s.specimenId + dxTestId" :value="s" v-model="dxSelected" @change="onCheckboxChanged">
                        <label class="custom-control-label" :for="s.specimenId + dxTestId">
                            {{s.type}}
                            <div class="text-muted" style="font-size: 12px;">{{s.externalId}}</div>
                        </label>
                    </div>
                </div>
            </b-form-checkbox-group>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        list: {
            type: Array,
            default: function () {
                return []
            }
        },
        value: {
            type: Array,
            default: function () {
                return []
            }
        },
        isDCResult: {
            type: Boolean,
            default: function () {
                false
            }
        },
        dxTestId: {
            type: String,
            default: function () {
                return ''
            }
        },
        fixedPos: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            selected: [],
            dxSelected: [],

            fixedPosLeft: 0,
            fixedPosTop: 0,
            fixedPosWidth: 0,
            isHovering: false,
        }
    },
    computed: {
        selectedSpecimens() {
            return this.list.filter(x => this.selected.indexOf(x.specimenType.specimenId) > -1).map(x => x.specimenType.type).join(', ');
        },
        dxSelectedSpecimens() {
            return this.dxSelected.filter(x => x).map(x => x.type).join(', ');
            //return this.list.filter(x => this.dxSelected.indexOf(x.id) > -1).map(x => x.type).join(', ');
        }
    },
    methods: {
        onCheckboxChanged(e) {
            //console.log(e);
            e.preventDefault();
            e.stopPropagation();
            
            //this.$emit("onStatusClicked", e);
            if(this.isDCResult) {
                this.$emit("input", this.dxSelected);
            } else {
                this.$emit("input", this.selected);
            }
        },
        mouseEnter(e) {
            //console.log(e);
            if(this.fixedPos) {
                this.setFixedPos();
            }
            this.isHovering = true;
        },
        mouseLeave(e) {
            //console.log(e);
            if(this.fixedPos) {
                this.setFixedPos();
            }
            this.isHovering = false;
        },
        setFixedPos() {
            this.fixedPosTop = this.$refs.ele.getBoundingClientRect().top + 21;
            this.fixedPosLeft = this.$refs.ele.getBoundingClientRect().left - 5;
            this.fixedPosWidth = this.$refs.ele.getBoundingClientRect().width;
            // console.log(this.$refs.ele.getBoundingClientRect());
        }
    },
    created() {},
    updated() {
        if(this.isDCResult) {
            this.dxSelected = this.value;
        } else {
            this.selected = this.value;
        }
    },
    mounted() {
        //console.log(this.list, this.dxTestId);
        if(this.isDCResult) {
            this.dxSelected = this.value;
        } else {
            this.selected = this.value;
        }
        
        //this.setFixedPos();
    }
};
</script>

<style lang="scss">
.specimen-list {
    position: relative;
    // font-size: 12px;

    &__items {
        position: absolute;
        width: 110%;
        background-color: white;
        box-shadow: var(--shadow-small);
        z-index: 1000;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s;
        left: -5%;

        &--position-fixed {
            --top: 0;
            --left: 0;
            --left: 130px;
            // top: calc(var(--top));
            // left: calc(var(--left));
            position: fixed;
            width: calc(var(--width));
            transition: unset;
            // transform: translateY(-120%);
            top: 0;
            left: 0;
            transform: translateY(var(--top)) translateX(var(--left));
            will-change: transform;
        }
    }

    &__input {
        // padding-bottom: 5px;
            
        &--icon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transition: all .2s;
            transform: rotate(0);

            &::before {
                content: "\f078";
            }
        }
    }

    &__item--container {
        padding: 5px;
        transition: all .2s;
        background-color: transparent;
        border-bottom: 1px solid var(--gray-200);
        margin-bottom: 0;

        &:hover {
            background-color: var(--gray-50);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .checkbox-list {
        border: 1px solid var(--primary-200); 
        box-shadow: var(--shadow-small);
    }

    &:hover &__items {
        max-height: 100px;
        overflow-y: auto;

        // .checkbox-list {
        //     position: fixed;
        //     background-color: white;
        // }
    }

    &:hover &__input {
        &--icon {
            transform: rotate(180deg);
        }
    }

}
</style>

