<template>
    <div v-if="!msieversion()" class="status-list " :class="{'status-list__inline' : inline}" @mouseenter="mouseEnter" @mouseleave="mouseLeave" ref="ele">
        <div class="status-list__container"
            :class="{'status-list__container--position-fixed': isHovering && fixedPos, 'status-list__container--style-dropdown': edgeversion(), 'status-list__container--style-transform': !edgeversion()}"
            :style="{ '--top': fixedPosTop + 'px', '--left': fixedPosLeft + 'px' }">
            <div class="status-list__action status-list__pos" :class="{'status-list__action--active': value === 0 || value == '0'}" @click="onBadgeClicked(0)">POS</div>
            <div class="status-list__action status-list__neg" :class="{'status-list__action--active': value == 1}" @click="onBadgeClicked(1)">NEG</div>
            <div class="status-list__action status-list__equ" :class="{'status-list__action--active': value == 2}" @click="onBadgeClicked(2)">EQU</div>
            <div class="status-list__action status-list__placeholder">...</div>
        </div>
    </div>
    <div v-else class="position-relative w-100">
        <b-form-select class="w-100" v-model="selected" :options="options" @change="onBadgeClicked(selected)"></b-form-select>
    </div>
</template>

<script>
import { msieversion, edgeversion } from "utils/formDisplay";
export default {
    props: {
        status: {
            type: String,
            default: ""
        },
        value: {
            type: [String, Number],
            default: undefined
        },
        inline: {
            type: Boolean,
            default: false
        },
        fixedPos: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            fixedPosLeft: 0,
            fixedPosTop: 0,
            isHovering: false,

            selected: null,
            options: [
                { value: null, text: 'Select' },
                { value: 0, text: 'POS' },
                { value: 1, text: 'NEG' },
                { value: 2, text: 'EQU' },
            ]
        }
    },
    computed: {
        // statusEle() {
        //     return this.$refs.ele.getBoundingClientRect();
        // }
    },
    methods: {
        msieversion,
        edgeversion,
        onBadgeClicked(e) {
            //console.log(e);
            
            this.$emit("onStatusClicked", e + '');
            this.$emit("input", e + '');
        },
        mouseEnter(e) {
            //console.log(e);
            if(this.fixedPos)
                this.setFixedPos();
            this.isHovering = true;
        },
        mouseLeave(e) {
            //console.log(e);
            if(this.fixedPos)
                this.setFixedPos();
            this.isHovering = false;
        },
        setFixedPos() {
            if(this.$refs.ele) {
                this.fixedPosTop = this.$refs.ele.getBoundingClientRect().top;
                this.fixedPosLeft = this.$refs.ele.getBoundingClientRect().left;
            }
        },
    },
    watch: {
        // selected(newValue, oldValud) {
        //     console.log(newValue, oldValud);
            
        //     this.onBadgeClicked(newValue);
        // },
        value(newValue, oldValud) {
            this.selected = newValue;
        },
    },
    created() {},
    mounted() {
        //this.setFixedPos();
        //console.log(this.detectIE());
        
    }
};
</script>

<style lang="scss">
.status-list {
    --action-width: 55px;
    --action-height: 22px;
    --action-gap: 2px;

    $statusList: '.status-list';

    width: var(--action-width);
    height: var(--action-height);

    position: relative;

    &__container {
        position: relative;
        transition: height .2s;
        width: inherit;
        height: calc(var(--action-height));
        transform: translateY(0);
        overflow: hidden;
        background: transparent;
        border-radius: 5px;

        &--position-fixed {
            --top: 0;
            --left: 0;
            // top: var(--top);
            // left: var(--left);
            position: fixed;
            top: 0;
            left: 0;
            transform: translateY(var(--top)) translateX(var(--left));
            will-change: transform;
        }
    }


    &__action {
        &--active {
            z-index: 1;
            transform: none;
            opacity: 1;

            &#{$statusList}__pos {
                background-color: var(--red-300);
            }
            &#{$statusList}__neg {
                background-color: var(--green-300);
            }
            &#{$statusList}__equ {
                background-color: var(--blue-300);
            }
            ~ #{$statusList}__placeholder {
                display: none;
            }
        }

        position: absolute;
        left: 0;
        top: 0;
        // transform: translateY(0);
        width: var(--action-width);
        height: var(--action-height);
        transition: all .2s;

        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        padding: 0.25em 0.4em;
        font-size: 75%;
        letter-spacing: 2px;
        text-align: center;
        border: 1px solid currentColor;
        background: white;
        opacity: 0;

    }

    &__pos {
        color: var(--red-700);

        &:hover {
            background-color: var(--red-300);
        }
    }

    &__neg {
        color: var(--green-700);

        &:hover {
            background-color: var(--green-300);
        }
    }

    &__equ {
        color: var(--blue-700);

        &:hover {
            background-color: var(--blue-300);
        }
    }

    &__placeholder {
        opacity: 1;
        border-style: dashed;
    }

    &__inline {
        width: 100%;

        #{$statusList}__placeholder {
            display: none;
        }

        #{$statusList}__container {
            display: flex;
        }

        #{$statusList}__action {
            position: relative;
            opacity: 1;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &:not(&__inline):hover {
        #{$statusList}__action {
            opacity: 1;
        }

        #{$statusList}__container {
            height: calc(var(--action-height) * 3 + var(--action-gap) * 2);
        }

        #{$statusList}__placeholder {
            display: none;
        }
    }

    &__container--style-transform &__action {
        transform: translateY(0);
    }

    &:not(&__inline) &__container--style-transform:hover {
        #{$statusList}__pos {
            transform: translateY(0);
        }

        #{$statusList}__neg {
            transform: translateY(calc(var(--action-height) + var(--action-gap)));
        }

        #{$statusList}__equ {
            transform: translateY(calc(var(--action-height) * 2 + var(--action-gap) * 2));
        }
    }

    &__container--style-dropdown:not(&__inline):hover &__action {
        position: static;
        margin-top: 1px;
    }

}
</style>

