<template>
<div>
    <!-- <button class="btn btn-submit-customized" @click="onBtnSubmitClick"
        :style="{'--width': width + 'px'}"
        :aria-pressed="isSubmitted ? true : false"
        :class="{'btn-submit-customized--saving': isSubmitted && isSaving, 'btn-submit-customized--success': isSubmitted && !isSaving && isSavingSuccess, 'btn-submit-customized--error': isSubmitted && !isSaving && !isSavingSuccess }">
        <span class="btn-submit-customized__text" style="">{{text}}</span>
        <i class="btn-submit-customized__loading fal fa-spinner fa-spin"></i>
        <i class="btn-submit-customized__success-icon fal fa-check"></i>
        <i class="btn-submit-customized__error-icon fal fa-close"></i>
    </button> -->
    <button class="btn btn-primary" @click="onBtnSubmitClick"
        :aria-disabled="isSubmitted ? true : false">
        <span class="btn-submit-customized__text" v-if="!isSubmitted && !isSaving">{{text}}</span>
        <i class="btn-submit-customized__loading fal fa-spinner fa-spin" v-if="isSubmitted && isSaving"></i>
        <i class="btn-submit-customized__success-icon fal fa-check" v-if="isSubmitted && !isSaving && isSavingSuccess"></i>
        <i class="btn-submit-customized__error-icon fal fa-close" v-if="isSubmitted && !isSaving && !isSavingSuccess"></i>
    </button>

    <b-modal ref="confirmModal" :title="confirmTitle" ok-title="Yes, proceed" cancel-variant="outline-secondary" ok-variant="primary" modal-class="modal-primary" @ok="confirmSubmit">
        <p class="mb-0">{{confirmDesc}}</p>
    </b-modal>

</div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: 'Submit'
        },
        width: {
            type: Number,
            default: 110
        },
        handler: Function,
        showConfirmation: {
            type: Boolean,
            default: false
        },
        confirmTitle: {
            type: String,
            default: 'Are you sure you want to do this?'
        },
        confirmDesc: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            isSubmitted: false,
            isSaving: false,
            isSavingSuccess: false
        }
    },
    computed: {

    },
    methods: {
        openConfirmModal() {
            this.$refs.confirmModal.show()
        },
        closeConfirmModal() {
            this.$refs.confirmModal.hide()
        },
        onBtnSubmitClick(e) {
            if(this.showConfirmation) {
                this.openConfirmModal();
            } else {
                this.handleSubmit(e);
            }
        },
        handleSubmit(e) {
            
            // console.log(handlerObj);

            if (!this.isSubmitted && this.handler) {
                let handlerObj = this.handler();

                if(!handlerObj) {
                    return;
                }

                this.isSubmitted = true;
                this.isSaving = true;

                handlerObj
                    .then(resp => {
                        //console.log(resp);
                        
                        this.isSavingSuccess = true;

                        this.$emit('onSubmitSuccess', resp);
                    })
                    .catch(err => {
                        //console.log(err);
                        this.isSavingSuccess = false;
                        this.$emit('onSubmitError', err);
                        
                        setTimeout(() => {
                            this.isSubmitted = false;
                        }, 4000);
                    })
                    .finally(() => {
                        this.isSaving = false;
                    })


                // setTimeout(() => {
                //     this.isSaving = false;
                //     this.isSavingSuccess = true;

                //     setTimeout(() => {
                //         this.isSubmitted = false;
                //     }, 3000);
                // }, 2000);
            }
        },
        confirmSubmit(e) {
            this.handleSubmit(e);
        }
    },
    created() {},
    mounted() {

    }
};
</script>

<style lang="scss">
.btn-submit-customized {
    --side: 35px;
    --width: 100px;

    $btnSubmitCustomized: '.btn-submit-customized';

    width: var(--width);
    background-color: var(--primary-500);
    color: white;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--side);
    overflow: hidden;
    // display: grid;
    // grid-template-rows: repeat(4, 35px);
    // grid-template-columns: 100%;
    // padding: 0;


    &:focus {
        box-shadow: none
    }

    &[aria-pressed] {
        cursor: unset;
    }

    & > * {
        display: inline-block;
        overflow: hidden;
        transition: all .2s;
        position: absolute;
        height: 0;
        // padding: 0.375rem 0.75rem;
    }

    &__text {
        height: 21px;
    }

    &--saving {
        width: var(--side);
        border-radius: 50%;
        grid-template-columns: var(--side);
        // transform: translateX(calc(100px - var(--side)));

        & > :not(#{$btnSubmitCustomized}__loading) {
            height: 0;
        }

        #{$btnSubmitCustomized}__loading  {
            //grid-row: 1 / 2;
            height: 14px;
        }
    }

    &--success {
        background-color: var(--green-500);

        & > :not(#{$btnSubmitCustomized}__success-icon) {
            height: 0;
        }

        #{$btnSubmitCustomized}__success-icon {
            // grid-row: 1 / 2;
            height: 14px;
        }
    }

    &--error {
        background-color: var(--red-500);

        & > :not(#{$btnSubmitCustomized}__error-icon) {
            height: 0;
        }

        #{$btnSubmitCustomized}__error-icon {
            // grid-row: 1 / 2;
            height: 14px;
        }
    }

}
</style>
