<template>
<div v-if="isView">
    <FormGroup :label="noLabel ? '' : 'Contact Number'" v-if="!noLabel">
        <p class="mb-0">
            +
            <span v-if="telephoneCountryCode && telephoneCountryCode != 0">({{telephoneCountryCode}})</span>
            <span v-if="telephoneAreaCode && telephoneAreaCode != 0 && telephoneCountryCode != 65">({{telephoneAreaCode}})</span> 
            <span v-if="telephoneNumber && telephoneNumber != 0">{{telephoneNumber}}</span> 
        </p>
    </FormGroup>

    <p class="mb-0" v-else>
        +
        <span v-if="telephoneCountryCode && telephoneCountryCode != 0">({{telephoneCountryCode}})</span>
        <span v-if="telephoneAreaCode && telephoneAreaCode != 0 && telephoneCountryCode != 65">({{telephoneAreaCode}})</span> 
        <span v-if="telephoneNumber && telephoneNumber != 0">{{telephoneNumber}}</span> 
    </p>
</div>


<FormGroup label="Contact Number" :required="required" v-else>
    <div class="row">
        <div class="col-4 pr-0">
            <b-form-select v-if="msieversion()" :disabled="fieldDisabled" v-model="telephoneCountryCode" :options="countryCodes" text-field="label"></b-form-select>
            <v-select v-else class="country-code-select" :disabled="fieldDisabled" :options="countryCodes" :clearable="false" v-model.trim="telephoneCountryCode" index="value"></v-select>
            <!-- <b-input autocomplete="off" list="autocompleteOff" v-mask="'###'" :disabled="fieldDisabled" :maxlength="3" type="text" v-model.trim="telephoneCountryCode" placeholder="Country Code" :class="{'is-invalid': required && checkError && !telephoneCountryCode}" /> -->
            <!-- <the-mask :disabled="fieldDisabled" class="form-control w-100" v-model="telephoneCountryCode" 
                placeholder="Country Code" :class="{'is-invalid': required && checkError && !telephoneCountryCode}" :mask="['##']"/> -->
            <!-- <b-form-invalid-feedback>
                Country Code is invalid.
            </b-form-invalid-feedback> -->
        </div>
        <div class="col-3 pr-0" v-if="telephoneCountryCode != 65">
            <b-input autocomplete="off" list="autocompleteOff" v-mask="'###'" :disabled="fieldDisabled" :maxlength="3" type="text" v-model.trim="telephoneAreaCode" 
                placeholder="Area Code" />
            <b-form-invalid-feedback>
                Area Code is invalid.
            </b-form-invalid-feedback>
        </div>
        <div class="col">
            <b-input autocomplete="off" list="autocompleteOff" v-mask="'############'" :disabled="fieldDisabled" :maxlength="12" type="text" v-model.trim="telephoneNumber" placeholder="Telephone Number" :class="{'is-invalid': (required && checkError && !telephoneNumber) || !isSGNumberValid}" />
            <b-form-invalid-feedback>
                Telephone Number is invalid.
            </b-form-invalid-feedback>
        </div>
    </div>
</FormGroup>
</template>

<script>
import FormGroup from 'containers/form/FormGroup'
import {mask} from 'vue-the-mask'
import { sgNumber } from "utils/validationHelpers";
import vSelect from 'vue-select'
import countryCode from 'constants/CountryCodes'

import { msieversion } from "utils/formDisplay";

export default {
    components: {
        FormGroup,
        'v-select': vSelect
    },
    directives: {mask},
    props: {
        isView: {
            type: Boolean,
            default: false
        },
        noLabel: {
            type: Boolean,
            default: false
        },
        country: {
            type: [Number, String],
            default: 65
        },
        area: {
            type: [Number, String],
            default: null
        },
        number: {
            type: [Number, String],
            default: null
        },
        required: {
            type: Boolean,
            default: false
        },
        checkError: {
            type: Boolean,
            default: false
        },
        fieldDisabled: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            telephoneCountryCode: null,
            telephoneAreaCode: null,
            telephoneNumber: null,
        }
    },
    computed: {
        isSGNumberValid() {
            if(!this.telephoneCountryCode || this.telephoneCountryCode != 65 || !this.telephoneNumber) {
                return true;
            }

            return sgNumber(this.telephoneNumber);
        },
        countryCodes() {
            return countryCode.map(x => ({
                value: parseInt(x.dial_code),
                label: x.code + ' (' + x.dial_code + ')'
            }))
        }
    },
    methods: {
        msieversion
    },
    watch: {
        country: function (newVal, oldVal) {
            this.telephoneCountryCode = newVal || null;
        },
        area: function (newVal, oldVal) {
            this.telephoneAreaCode = newVal || null;
        },
        number: function (newVal, oldVal) {
            this.telephoneNumber = newVal || null;
        },
        telephoneCountryCode: function (newVal, oldVal) {
            this.$emit("country", newVal);
        },
        telephoneAreaCode: function (newVal, oldVal) {
            this.$emit("area", newVal);
        },
        telephoneNumber: function (newVal, oldVal) {
            this.$emit("number", newVal);
        },
    },
    created() {},
    mounted() {
        this.telephoneCountryCode = this.country || null;
        this.telephoneAreaCode = this.area || null;
        this.telephoneNumber = this.number || null;

        //console.log(sgNumber('87806795'), sgNumber('878067951'))
        // console.log(countryCode)
    }
};
</script>

<style lang="scss">
    .country-code-select:not(.open) {
        input[type=search] {
            position: absolute;
        }
    }
</style>
