<template>
    <RightSidebar :visible="visible" @close="onClose">
        <section  class="p-3">
        <div class="d-flex justify-content-between">
            <div class="h3 color-primary-900 mb-0">Test Information</div>
            <i class="fa fa-2x fa-times close-panel-button" @click="onClose"></i>
        </div>

        <hr>
          <b-tabs v-model="tabIndex">
            <b-tab title="Summary" v-show="requestTest && testResultIndicator >= 0" v-if="summaryVisible" id="summaryTab">
                <template v-if="requestTest">

                <div class="d-flex justify-content-between align-items-baseline mb-3">
                    <!-- <div class="mr-4 align-items-baseline align-self-stretch">
                        
                        <span class="verification-status-wrapper verification-status-wrapper_check" v-b-tooltip.hover :title="'Verified'" v-if="testVerificationStatus == 'Verified'">
                            <i class="fa fa-check"></i>
                        </span>
                        <span class="verification-status-wrapper verification-status-wrapper_cross" v-b-tooltip.hover :title="'Rejected'"  v-else-if="testVerificationStatus == 'Rejected'">
                            <i class="fa fa-times"></i>
                        </span>
                        <span class="verification-status-wrapper verification-status-wrapper_none" v-b-tooltip.hover :title="testVerificationStatus" v-else>
                            <i class="fa fa-circle-thin"></i>
                        </span>
                    </div> -->
                    <div style="flex: 1;">
                        <div class="h4 color-primary-900">{{get(requestTest, 'request.externalId')}}</div>
                        <!-- <div class="h5 color-primary-900 font-italic mb-0">{{get(requestTest, 'test.name')}}</div> -->
                        <div style="width: max-content;" v-b-tooltip.hover :title="get(requestTest, 'test.name')" class="h5 color-primary-900 font-italic mb-0 text-uppercase">{{get(requestTest, 'test.disease.abbreviation')}} {{testTargetAndMethod(requestTest.test)}}</div>
                    </div>
                    <div style="width: 25%;" class="d-flex align-items-end justify-content-start flex-column align-self-stretch pt-1">
                        <!-- <span :class="statusClass">{{testResultIndicator}}</span> -->
                        <ResultIndicatorBadge :status="testResultIndicator"></ResultIndicatorBadge>

                    </div>
                    
                </div>
     
                <div class="row">
                    <div class="col">
                        <FormGroup label="Analyst Name"
                            description="">
                            <p class="m-0">{{testAnalystName}}</p>
                        </FormGroup>
                    </div>
                    <div class="col">
                        <FormGroup label="Status"
                            description="">
                            <p class="m-0">{{beautify(testVerificationStatus)}}</p>
                        </FormGroup>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <FormGroup label="Unit Name"
                            description="">
                            <p class="m-0">{{get(requestTest, 'testResult.unitName')}}</p>
                        </FormGroup>
                    </div>
                    <div class="col">
                        <FormGroup label="Unit Value"
                            description="">
                            <p class="m-0">{{get(requestTest, 'testResult.unitValue')}}</p>
                        </FormGroup>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <FormGroup label="Remarks"
                            description="">
                            <p class="m-0">{{get(requestTest, 'testResult.comments')}}</p>
                        </FormGroup>
                    </div>
                    <div class="col">
                        <FormGroup label="Analyst Notes"
                            description="">
                            <p class="m-0">{{get(requestTest, 'testResult.intepretation')}}</p>
                        </FormGroup>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <FormGroup label="Protocol">
                            <p class="mb-0">{{getProtocolName(requestTest)}}</p> 
                        </FormGroup>
                    </div>
                    <div class="col">
                        <FormGroup label="Specimen Type">
                            <p class="mb-0">{{getSpecimens(requestTest)}}</p> 
                        </FormGroup>
                    </div>
                </div>

                <FormGroup  v-if="showRemarkReviews"
                    label="Reason for rejection"
                    description="">
                    <p class="m-0">{{requestTest.remarks}}</p>
                </FormGroup>

                <FormGroup label="Reason for rejection" v-if="showRemarkInput"
                    description="" required>
                    <b-textarea
                            class="mb-3"
                            v-model="remark"
                            :rows="3"
                            :max-rows="6">
                        </b-textarea>
                </FormGroup>
                <div class="text-right" v-if="requestTest.readyForVerification || requestTest.readyForEndorsement">
                    <b-button variant="danger" :disabled="!remark" v-if="!testRejected" @click.stop="onReject">Reject</b-button>
                    <!-- <b-button variant="danger" v-else @click.stop="onUnReject">Unreject</b-button> -->
                </div>
                </template>
          
            </b-tab>
            <b-tab title="Custom Fields" v-if="requestTest && requestTest.invTestResults" >
                <template v-if="requestTest && requestTest.invTestResults">

                
                <template v-if="getResultFields(requestTest.invTestResults) && getResultFields(requestTest.invTestResults).length > 0">
                    <h5>Other Fields</h5>
                    <div class="row">
                        <div class="col-6" v-for="field in getResultFields(requestTest.invTestResults)" :key="field.edasRequestSurveillanceInvTestResultId">
                            <FormGroup :label="field.fieldHeader">
                                <p class="m-0">{{field.resultValue}}</p>
                            </FormGroup>
                        </div>
                    </div>
                </template>

                <template v-if="getSerotypeFields(requestTest.invTestResults) && getSerotypeFields(requestTest.invTestResults).length > 0">
                    <h5>Serotype Fields</h5>
                    <div class="row">
                        <div class="col-6" v-for="field in getSerotypeFields(requestTest.invTestResults)" :key="field.edasRequestSurveillanceInvTestResultId">
                            <FormGroup :label="field.fieldHeader">
                                <p class="m-0">{{field.resultValue}}</p>
                            </FormGroup>
                        </div>
                    </div>
                </template>

                <template v-if="getGenotypeField(requestTest.invTestResults) && getGenotypeField(requestTest.invTestResults).length > 0">
                    <h5>Genotype Fields</h5>
                    <div class="row">
                        <div class="col-6" v-for="field in getGenotypeField(requestTest.invTestResults)" :key="field.edasRequestSurveillanceInvTestResultId">
                            <FormGroup :label="field.fieldHeader">
                                <p class="m-0">{{field.resultValue}}</p>
                            </FormGroup>
                        </div>
                    </div>
                </template>
                </template>
            </b-tab>
            <b-tab title="Details" class="details-tab">
                <i class="fa fa-spinner fa-spin" v-if="isRequestDetailsLoading"></i>
                <template v-if="data && !isRequestDetailsLoading">

                <PatientInfoDetails :data="data.edasRequestPatient" v-if="data.edasRequestPatient" />

                <ClientInfoDetails :data="data" :requestingDoctorClient="data.requestingDoctorClient" :recipientDoctorClient="data.recipientDoctorClient" v-if="data.requestingDoctorClient && data.recipientDoctorClient" />

                <SpecimensDetails :data="data.specimens" v-if="data.specimens"  />

                <ClinicalInfoDetails :data="data.edasRequestClinicalDetail" v-if="data.edasRequestClinicalDetail" />

                <TestsDetails :data="data.edasRequestTests" v-if="data.edasRequestTests" :specimens="data.specimens"  />

                <CourierDetails :data="data" v-if="data"  />

                </template>
            </b-tab>
            <b-tab title="Timeline"  class="timeline-tab">
                <i class="fa fa-spinner fa-spin" v-if="isRequestDetailsLoading"></i>
                <template v-else>
                    <timeline :requestId="(requestTest && requestTest.requestId) || (requestTest && requestTest.request && requestTest.request.requestId) || (requestTest && requestTest.request && requestTest.request.id)" 
                        :data="data" :isSurv="isSurv" v-if="data" :protocols="protocols"></timeline>
                </template>
              
            </b-tab>
            <b-tab title="Change Log" v-if="!isSurv">
                <i class="fa fa-spinner fa-spin" v-if="isRequestDetailsLoading"></i>
                <template v-else>
                    <change-log v-if="requestTest" :requestId="requestTest.requestId || requestTest.request.requestId || requestTest.request.id"
                        :data="data" :protocols="protocols"></change-log> 
                </template>
            </b-tab>
          </b-tabs>

        </section>
    </RightSidebar>
</template>

<script>
import FormGroup from 'containers/form/FormGroup';
import { get } from 'lodash'
import RightSidebar from 'containers/layout/RightSidebar'
import ResultIndicatorBadge from 'components/ResultIndicatorBadge'
import axios from 'axios'
import ChangeLog from 'views/Request/Create/steps/ChangeLog'

import PatientInfoDetails from 'views/Request/Create/steps/PatientInfo-Details'
import ClientInfoDetails from 'views/Request/Create/steps/ClientInfo-Details'
import CourierDetails from 'views/Request/Create/steps/Courier-Details'
import SpecimensDetails from 'views/Request/Create/steps/Specimens-Details'
import ClinicalInfoDetails from 'views/Request/Create/steps/ClinicalInfo-Details'
import TestsDetails from 'views/Request/Create/steps/Tests-Details'
import timeline from 'views/Request/Create/steps/timeline'

import { EdasRequestTestStatuses } from "utils/formDisplay";

export default {
    props: {
        visible: {
            type: Boolean,
            default: false
        },
        summaryVisible: {
            type: Boolean,
            default: true
        },

        requestTest: {
            type: Object,
            default: function() {
                return null
            }
        },
        isSurv: {
            type: Boolean,
            default: false
        },
        isInv: {
            type: Boolean,
            default: false
        },
    },
    components: {
        RightSidebar,
        FormGroup,
        ResultIndicatorBadge,

        ChangeLog,
        timeline,

        PatientInfoDetails,
        ClientInfoDetails,
        CourierDetails,
        SpecimensDetails,
        ClinicalInfoDetails,
        TestsDetails
    },
    data() {
        return {
            remark: '',
            tabIndex: 0,
            protocols: [],
            specimens: [],
            data: null,
            isRequestDetailsLoading: false,
        }
    },
    computed: {
        isNullData() {
            return this.requestTest === null
        },
        rejectable() {
            return this.requestTest && (this.requestTest.readyForVerification || this.requestTest.readyForEndorsement)
        },
        showRemarkInput() {
            return !this.showRemarkReviews && this.rejectable
        },
        showRemarkReviews() {
            return this.requestTest && (this.requestTest.verificationStatus == 'Rejected' || this.requestTest.endorsementStatus === 'Rejected') && !!this.requestTest.remarks
        },
        testVerificationStatus() {
            if(!this.requestTest) {
                return;
            }
            
            // return this.requestTest && (this.requestTest.verificationStatus || this.requestTest.endorsementStatus || this.requestTest.status)
            // return this.requestTest && this.requestTest.status
            return EdasRequestTestStatuses[this.requestTest.statusCode] || this.requestTest.status
        },
        testAnalystName() {
            return (get(this.requestTest, 'testResult.testingOfficer.user.firstName', '') || get(this.requestTest, 'testResult.testingOfficer.firstName', '')) + ' ' + (get(this.requestTest, 'testResult.testingOfficer.user.lastName', '') || get(this.requestTest, 'testResult.testingOfficer.lastName', ''))
        },
        testResultIndicator() {         
            return get(this.requestTest, 'testResult.resultIndicator')
        },
        statusClass() {
            switch (this.testResultIndicator) {
                case this.ResultStatus.NEGATIVE:
                    return 'badge badge-success'
                case this.ResultStatus.POSITIVE:
                    return 'badge badge-danger'
                default:
                    return 'badge badge-secondary'
            }
        },
        testRejected() {
            return !!this.requestTest && (this.requestTest.verificationStatus === 'Rejected' || this.requestTest.endorsementStatus === 'Rejected')
        }
    },
    methods: {
        get,
        onClose() {
            this.$emit('close')
        },
        onReject() {
            if (this.remark.length > 0) {
                this.$emit('reject', this.remark)
            }
        },
        onUnReject() {
            this.$emit('unreject', this.remark)
        },
        hasAnalystNote({ request }) {
            return request.externalId.indexOf('2') > 0
        },
        getProtocolName(item) {
            // console.log(get(item, 'edsaRequestTestResult.edasTestProtocolId', ''), this.protocols, this.protocols.find(x => x.edasTestProtocolId == get(item, 'edsaRequestTestResult.edasTestProtocolId', '')));
            return get(this.protocols.find(x => x.edasTestProtocolId == get(item, 'testResult.edasTestProtocolId', '')), 'name', '');
        },
        getSpecimens(item) {
            let usedSpecimens = (get(item, 'edasRequestTestResultSpecimens', []) || []).map(x => x.specimenId);
            return get(item, 'request.specimens', []).filter(x => usedSpecimens.includes(x.id) || usedSpecimens.includes(x.specimenId)).map(x => get(x, 'specimenType.type', '') || get(x, 'specimen.specimenType.type', '')).join(", ")
                || get(item, 'edasRequestTestResultSpecimens', []).map(x =>  get(x, 'specimen.specimenType.type', '')).join(', ');
        },
        getResultFields: results => results.filter(x => x.isResultField),
        getSerotypeFields: results => results.filter(x => x.isSerotypeField),
        getGenotypeField: results => results.filter(x => x.isGenotypeField),
        testTargetAndMethod(test) {
            const testTargetName = get(test, 'testGroupTestTarget.testTarget.name', '')
            const testMethodName = get(test, 'testMethod.name', '')
            return [testTargetName, testMethodName].join(' ')
        }
    },
    watch: {
        visible: function(newValue, value) {
            if (!newValue) {
                this.remark = '';
                this.tabIndex = 0;
            }
        },
        requestTest: function(newValue, value) {
            console.log(this.requestTest);
            if(this.requestTest) {
                this.isRequestDetailsLoading = true;
                this.data = null;

                let urlObj = null;
                //if(this.isSurv || this.isInv) {
                    //urlObj = axios.get(`/Request/DetailsObjectForSuv${location.search ? location.search  + '&' : '?'}id=${this.requestTest.requestId || this.requestTest.request.requestId || this.requestTest.request.id}`);
                //} else {
                    urlObj = axios.get(`/Request/DetailsObject${location.search ? location.search  + '&' : '?'}id=${this.requestTest.requestId || this.requestTest.request.requestId || this.requestTest.request.id}&isSurv=${window.isSurv}&isInv=${window.isInv}`);
                //}

                if(urlObj) {
                    urlObj
                        .then(resp => {
                            console.log(resp.data);
                            this.data = resp.data;
                        })
                        .catch(error => {        
                            console.log(error);  
                        })
                        .finally(() => {
                            this.isRequestDetailsLoading = false;
                        })
                }

                console.log('display summary');
                setTimeout(() => {
                    if(document.getElementById('summaryTab') && document.getElementById('summaryTab').style.display == 'none') {
                        
                        
                        document.getElementById('summaryTab').style.display = null
                        document.getElementById('summaryTab').classList.remove('fade')
                    }
                }, 1000);
            }
        },
    },
    mounted() {
        axios.get(`/TestProtocol/List`)
            .then(resp => {
                // console.log(resp.data);
                this.protocols = resp.data;  
            })
            .catch(error => {        
                console.log(error);  
            })
        console.log(this.requestTest);
        // axios.get('/Specimens/TypeList')
        //     .then(resp => {
        //         console.log(resp.data);
                
        //         this.specimens = resp.data;
        //     }, err => {
        //         console.log(err);
        //     })
        
        
    }
}
</script>
<style lang="scss" scoped>

.close-panel-button, .h3, .fa {
        color: var(--primary-600);
}

.fa {
    font-size: 1.7em;
}

.close-panel-button {
    cursor: pointer;
}

.card-body {
    padding: .25em 1em .55em 1em;
}

.timeline {
    .timeline-badge {
        width: 50px;
        height: 50px;
        padding-top: 12px;
    }
}

.verification-status-wrapper {
    padding: 5px;
    //border: 1px solid var(--gray-500);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    &_none {
        background-color: var(--gray-200);

        .fa {
            color: var(--gray-500);
        }
    }

    &_check {
        background-color: var(--green-200);

        .fa {
            color: var(--green-500);
        }
    }

    &_cross {
        background-color: var(--red-200);

        .fa {
            color: var(--red-500);
        }
    }
}
</style>

<style lang="scss">
.details-tab, .timeline-tab {
    & > .card {
        box-shadow: none;
    }
}
.timeline-tab .timeline {
    margin-left: -40px;
}
.tab-content {
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.tab-pane {
    padding: 0;
}
</style>
