<template>
  <CalendarHeatmap
    :values="values"
    :endDate="endDate"
    :max="10"
    :range-color="colorRange"
    tooltip-unit="requests resolved">
  </CalendarHeatmap>
</template>
<script>
import moment from 'moment';
import { CalendarHeatmap } from 'vue-calendar-heatmap';

export default {
  props: {
    values: {
      type: Array,
      default: function() { return []; }
    }
  },
  components: {
    CalendarHeatmap
  },
  computed: {
    endDate() {
      return moment().format();
    },
    colorRange() {
      return [
        'var(--gray-50)',
        'var(--blue-200)',
        'var(--blue-300)',
        'var(--blue-400)',
        'var(--blue-500)',
      ]
    }
  }
}
</script>
<style lang="scss">
svg.vch__wrapper {
  .vch__months__labels__wrapper {
    text.vch__month__label {
      font-family: "Karla", san-serif;
      font-size: .375rem !important;
      fill: var(--primary-800) !important;
    }
  }

  .vch__days__labels__wrapper {
    text.vch__day__label {
      font-family: "Karla", san-serif;
      font-size: .375rem !important;
      fill: var(--primary-800) !important;
    }
  }

  .vch__legend__wrapper {
    text {
      font-family: "Karla", san-serif;
      font-size: .375rem !important;
      fill: var(--primary-800) !important;
    }
  }
}
</style>