﻿<template>
  <container>
    <div id="Dashboard">Dashboard</div>
  </container>
</template>

<script>
import container from 'containers/layout/DefaultContainer'
export default {
    components: {
        container
    }
}
</script>
