﻿@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script type="text/javascript">
        var message = @Json.Serialize(ViewData["message"]);
    </script>
    <script type="text/javascript" src="~/js/Home-Index.bundle.js"></script>
}
