﻿@{
    ViewData["Title"] = "Privacy Policy";
}

@section Scripts{
    <script type="text/javascript">

    </script>
    <script type="text/javascript" src="~/js/Home-Privacy.bundle.js"></script>
}
