﻿<template>
  <container>
    privacy page here
  </container>
</template>

<script>
import container from 'containers/layout/DefaultContainer'
export default {
    components: {
        container
    }
}
</script>
